body {
  font-size: 14px;
  font-family: sans-serif;
}
.col {
  margin: 10px 10px;
}

.btn-container {
  text-align: center;
}

.left-side {
  width: 750px;
  height: 550px;
  display: inline-block;
}

.controls {
  display: inline-block;
  vertical-align: top;
}

#map-controls > * {
  margin: 10px 0;
}
