body {
  overflow: hidden;
  font-size: 14px;
  font-family: sans-serif;
}

svg {
  display: inline-block;
  width: 500px;
}


table.legend-interval-method td:first-child {
  width: 30px;
}

.legend-container {
  display: inline-block;
  vertical-align: top;
}

table.legend-proportional-method tr:nth-child(odd) td:first-child {
  width: 100px;
}

table.legend-proportional-method tr:nth-child(even) td:nth-child(2) {
  text-align: right;
}
